*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li
{
    list-style: none;
    text-align: center;
    color: #333;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
ul:hover li
{
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
ul li:hover
{
    color: #333;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}